body{
  background: linear-gradient(100deg,rgb(6, 85, 255),rgb(243, 96, 243));
}
.Navbar{
  box-sizing: border-box;
  box-shadow: black;
  border-width: 100vw;
  background: black;
  height: 12vh;
}
.img{
  height: 6vh;
  margin-top: 15px;
  margin-left: 18px;
  width: 10vw;
  
}
.item{
  color:white;
  text-align: center;
  margin-top: -35px;
  
}
.btn{
  margin-left: 55vw;
  margin-bottom: 0;
  color: white;
  background: blueviolet;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
 
  padding: 4px;
}
.btn:hover{
  cursor: pointer;
  color: yellow;
}
.layout{
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  color:greenyellow;
  margin-top: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.user{
  margin-top: -52px;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
